<EditForm Model="@customer" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>First Name: </label>
        <div>
            <InputText @bind-Value="@customer.FirstName" class="form-control" />
            <ValidationMessage For="@(() => customer.FirstName)" />
        </div>
    </div>

    <div class="form-group">
        <label>Last Name: </label>
        <div>
            <InputText @bind-Value="@customer.LastName" class="form-control" />
            <ValidationMessage For="@(() => customer.LastName)" />
        </div>
    </div>

    <div class="form-group">
        <label>Email Address: </label>
        <div>
            <InputText @bind-Value="@customer.EmailAddress" class="form-control" />
            <ValidationMessage For="@(() => customer.EmailAddress)" />
        </div>
    </div>

    <div class="form-group">
        <label>Gender: </label>
        <div>
            <InputText @bind-Value="@customer.Gender" class="form-control" />
            <ValidationMessage For="@(() => customer.Gender)" />
        </div>
    </div>

    <div class="form-group">
        <label>Contact: </label>
        <div>
            <InputText @bind-Value="@customer.Contact" class="form-control" />
            <ValidationMessage For="@(() => customer.Contact)" />
        </div>
    </div>

    <button type="submit" class="btn btn-success btn-block">
        @ButtonText
    </button>
    <FinancialTips.Client.Components.BackToList Target="Customers" />
</EditForm>


@code {
    [Parameter] public Customer customer { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }

}
